// Prevent user from scrolling

@keyframes scrolling {
  0% {
    max-height: 100vh;
    overflow:hidden
  }
  99% {
    max-height: 100vh;
    overflow:hidden
  }
  100% {
    max-height: none;
  }
}

// Animates the loading spinner

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(360deg);
  }
  33% {
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(360deg);
  }
  66% {
    transform: rotate(0deg);
  }
  82% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);

  }
}

// Hides the loading page

@keyframes hide {
  0% {
    z-index: 3;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

// Animates the course cards

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

// Fill in the heart icons

@keyframes fill-in {
  0% {
    color: none;
  }
  100% {
    color: red;
  }
}

// Makes the checked icon rotate

@keyframes rotate {
  0% {
    transform: translate(-50%,-50%) rotate(0deg) ;
  }
  100% {
    transform: translate(-50%,-50%) rotate(-720deg);
  }
}

// Slides the after in when hovering the course card

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

// Slides the after out

// @keyframes slide-out {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateX(100%);
//   }
// }

// Hides the overflowing text in course card with "..."

@keyframes tight {
  0% {
    width: 100%;
  }
  100% {
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}