// Center text

@mixin text-centered {
  text-align: center;
}

// Display flex

@mixin flex {
  display: flex;
}

// Display flex and center content

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Display flex and justify content

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// General style for heart icons

@mixin heart($top, $right) {
  position: absolute;
  cursor: pointer;
  top: $top;
  right: $right;
  font-size: 22px;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}