@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  position: relative;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

@media screen and (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}

@-webkit-keyframes scrolling {
  0% {
    max-height: 100vh;
    overflow: hidden;
  }
  99% {
    max-height: 100vh;
    overflow: hidden;
  }
  100% {
    max-height: none;
  }
}

@keyframes scrolling {
  0% {
    max-height: 100vh;
    overflow: hidden;
  }
  99% {
    max-height: 100vh;
    overflow: hidden;
  }
  100% {
    max-height: none;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  33% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  48% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  82% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  33% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  48% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  82% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hide {
  0% {
    z-index: 3;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    z-index: 3;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

@-webkit-keyframes appearing {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fill-in {
  0% {
    color: none;
  }
  100% {
    color: red;
  }
}

@keyframes fill-in {
  0% {
    color: none;
  }
  100% {
    color: red;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-720deg);
            transform: translate(-50%, -50%) rotate(-720deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-720deg);
            transform: translate(-50%, -50%) rotate(-720deg);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes tight {
  0% {
    width: 100%;
  }
  100% {
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@keyframes tight {
  0% {
    width: 100%;
  }
  100% {
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.8)), to(rgba(255, 121, 218, 0.8)));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: 2px solid transparent;
  background-clip: content-box;
}

.header {
  position: relative;
}

.header__heading {
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 30px;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
}

.header__arrow {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 5%;
}

.header__img {
  height: 280px;
  padding-bottom: 10%;
  margin-bottom: -10%;
}

.img-1 {
  background: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) bottom/cover;
}

.img-2 {
  background: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
}

.img-3 {
  background: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) bottom/cover;
}

.img-4 {
  background: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) bottom/cover;
}

@keyframes scrolling {
  0% {
    max-height: 100vh;
    overflow: hidden;
  }
  99% {
    max-height: 100vh;
    overflow: hidden;
  }
  100% {
    max-height: none;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  33% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  48% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  82% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hide {
  0% {
    z-index: 3;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill-in {
  0% {
    color: none;
  }
  100% {
    color: red;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-720deg);
            transform: translate(-50%, -50%) rotate(-720deg);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes tight {
  0% {
    width: 100%;
  }
  100% {
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.menu {
  background-color: #f0eded;
  border-radius: 40px 40px 0 0;
  padding-bottom: 10%;
  position: relative;
}

.menu__heading {
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 28px;
  padding: 7%;
}

.course-section {
  padding: 0 5%;
}

.course-section__heading {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding: 8px 0;
}

.course-section__heading:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 8%;
  bottom: 0;
  border-bottom: 3px rgba(99, 221, 195, 0.699) solid;
}

.course-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0;
}

.course-card {
  background-color: white;
  width: 100%;
  margin: 8px;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 11px 11px -5px rgba(0, 0, 0, 0.137);
          box-shadow: 0px 11px 11px -5px rgba(0, 0, 0, 0.137);
  -webkit-animation: appearing 0.8s both;
          animation: appearing 0.8s both;
}

.course-card .info-container {
  width: 100%;
  position: relative;
}

.course-card .info-container h6 {
  font-size: 18px;
  padding: 4px 0;
}

.course-card .info-container p {
  width: 100%;
  font-size: 14px;
}

.course-card .info-container span {
  position: absolute;
  bottom: 15%;
  right: 5%;
  font-weight: 700;
}

.course-card:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.course-card:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.course-card:hover {
  overflow: hidden;
}

.course-card:hover .info-container, .course-card:hover p, .course-card:hover h6 {
  -webkit-animation: tight 0.8s forwards ease-out;
          animation: tight 0.8s forwards ease-out;
}

.course-card:hover .selected {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  width: 18%;
  background-color: rgba(99, 221, 195, 0.699);
  -webkit-animation: slide-in 0.8s ease-out;
          animation: slide-in 0.8s ease-out;
}

.course-card:hover .selected::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  color: white;
  content: "\f058";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: rotate 1 0.8s forwards;
          animation: rotate 1 0.8s forwards;
}

button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 760px) {
  .course-section {
    padding: 0 10%;
  }
  .course-section__heading {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 3px rgba(99, 221, 195, 0.699) solid;
  }
  .course-section__heading:before {
    content: none;
  }
  .course-card {
    width: 80%;
  }
}

@media screen and (min-width: 1040px) {
  .menu {
    margin: auto;
    max-width: 1040px;
  }
}

.btn {
  border: none;
  border-radius: 25px;
  width: 225px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: 0px 12px 15px -9px rgba(0, 0, 0, 0.459);
          box-shadow: 0px 12px 15px -9px rgba(0, 0, 0, 0.459);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.btn:hover {
  opacity: 0.85;
}

.heart-home-page {
  position: absolute;
  cursor: pointer;
  top: 35%;
  right: 10%;
  font-size: 22px;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.heart-home-page:hover {
  color: #9356dc;
  text-shadow: #9356dc;
}

.heart {
  position: absolute;
  cursor: pointer;
  top: 35px;
  right: 10%;
  font-size: 22px;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #f0eded;
  position: absolute;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.heart:hover {
  color: #9356dc;
  text-shadow: #9356dc;
}

@media screen and (min-width: 760px) {
  .heart {
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 10%;
    font-size: 22px;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #f0eded;
  }
}

.footer {
  height: 200px;
  background-color: #3f3a3a;
  padding: 40px 40px;
}

.footer__heading {
  color: white;
  font-family: "Shrikhand";
}

.footer__heading h5 {
  font-weight: 100;
  font-size: 18px;
}

.footer-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 500;
  margin-top: 10px;
}

.footer-list__item a p {
  font-size: 16px;
  margin-left: 10px;
}

.footer-list__item a i {
  width: 18px;
}

@media screen and (min-width: 1040px) {
  .footer {
    height: 250px;
  }
  .footer__heading h5 {
    font-size: 22px;
  }
  .footer .footer-list i {
    font-size: 20px;
  }
}
/*# sourceMappingURL=restaurant_page.css.map */