@import "../utils/variables";
@import "../utils/mixins";

// Style for all the footers

.footer {
  height: 200px;
  background-color: rgb(63, 58, 58);
  padding: 40px 40px;
  &__heading {
    color: white;
    font-family: $font-titles;
    h5 {
      font-weight: 100;
      font-size: 18px;
    }
  }
}

.footer-list {
  &__item {
    a {
      @include flex;
      color: white;
      font-weight: 500;
      margin-top: 10px;
      p {
        font-size: 16px;
        margin-left: 10px;
      }
      i {
        width: 18px;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  .footer {
    height: 250px;
    &__heading {
      h5 {
        font-size: 22px;
      }
    }
    .footer-list {
      i {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .footer {
    height: 200px;
  }
  
  .footer-list {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "el1 el3"
    "el2 el4";
    li {
      width: fit-content;
      &:nth-child(1) {
        grid-area: el1;
      }
      &:nth-child(2) {
        grid-area: el2;
      }
      &:nth-child(3) {
        grid-area: el3;
      }
      &:nth-child(4) {
        grid-area: el4;
      }
    }
    
  }
}