// Style for the two different type of heart icons

.heart-home-page {
  @include heart(35%,10%);
  transition: 1s ease-out;
  &:hover {
    color: $color-primary;
    text-shadow: $color-primary;
  }
  
}

.heart{
  @include heart(35px,10%);
  color: rgb(240, 237, 237);
  position: absolute;
  transition: 1s ease-out;
  &:hover {
    color: $color-primary;
    text-shadow: $color-primary;
  }
}

// Media queries

@media screen and (min-width: 760px) {
  .heart {
    @include heart(5%, 10%);
    color: rgb(240, 237, 237);
  }
}