@import "../utils/variables";

// Style for the restaurant page headers

.header {
  position: relative;
  &__heading {
    font-family: $font-titles;
    font-weight: 100;
    font-size: 30px;
    padding-top: 12px;
    @include flex-centered;
    height: 68px
  }
  &__arrow {
    display: block;
    width: fit-content;
    font-size:25px;
    position: absolute;
    top: 25px;
    left: 5%;
  }
  &__img {
    height: 280px;
    padding-bottom: 10%;
    margin-bottom: -10%;
    
  }
  
}

@for $i from 1 to 5 {
  .img-#{$i} {
    @if ($i == 2) {
      background: nth($restaurant-img, $i) center/cover;
    } @else {
      background: nth($restaurant-img, $i) bottom/cover;
    }
  }
}